<section class="todoapp" *ngIf="obsTodoAll | async as TDL">
  <header class="header">
    <h1>{{TDL.label}}</h1>
    <form (ngSubmit)="append(lab.value); lab.value='' ">
      <input  name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [ngModel] = "TDL.isAllDone"
    />
    <label for="toggleAll"
           (click) = "updateItems(TDL.items, {isDone: !TDL.isAllDone})"
    >Mark all as complete</label>

    <ul class="todo-list">
      <li *ngFor = "let item of TDL.items.filter(f); trackBy: trackById;"
          [class.completed] = "item.isDone"
          [class.editing]   = "compoItem.isEditing"
      >
        <app-todo-item [data]   = "item"
                       (remove) = "delete(item)"
                       (update) = "updateItem(item, $event)"
                       #compoItem
        ></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="TDL.items.length > 0">
    <span class="todo-count"><strong>{{ TDL.remaining }}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" [class.selected] = "f === fAll"
                             (click) = "f = fAll"
        >Tous</a>
      </li>
      <li>
        <a class="filterActives" [class.selected] = "f === fActive"
                                 (click) = "f = fActive"
        >Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" [class.selected] = "f === fCompleted"
                                   (click) = "f = fCompleted"
        >Complétés</a>
      </li>
    </ul>
    <button class="clear-completed"
            (click) = "deleteItems( TDL.items.filter( fCompleted ) )"
            *ngIf = "TDL.remaining < TDL.items.length"
    >Supprimer cochées</button>
  </footer>
</section>
